body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dog-list{
  display: block;
  cursor: pointer;
  padding: 5px;
}

.doggie{
  width: 100px;
  height: 100px;
  align-self: end;
  margin-right: 20px;
  margin-top: 29px;
}

 .container {
  display: flex;
  flex-flow: wrap-reverse;
 }

  label{
    width: 100px;
    display: inline-block;
    margin: 6px;
  }

  button{
    margin-top: 8px;
    margin-left: 3px;
  }
  
  .forms{
    margin-top: 0%;
  }

  .titel{
  margin-bottom: 100px;
}

.goback{
  display: flex;
  justify-content: flex-end;
}
